.carousel.slide {
  width: 600px !important;
  height: 400px !important;
}

.carousel img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.contagem {
  background-color: var(--marrom);
  background-image: url('../../assets/fundo-floral.png');
  background-position: center;
  background-size: contain;
  height: 450px;
}

.contagem h1 {
  color: var(--manteiga);
  font-family: var(--fonte-principal);
  font-style: italic;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 0;

}

.card-contagem {
  height: 150px;
  width: 150px;
  background-color: var(--manteiga);
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 10px;
}

.card-contagem h4 {
  font-size: 40px;
  font-family: var(--fonte-secundaria);
  font-weight: lighter;
  color: var(--marrom);
}

.card-contagem p {
  font-family: var(--fonte-secundaria);
  font-weight: lighter;
  color: var(--marrom);
  font-size: 20px;

}

.textos-inicio p {
  color: var(--marrom);
  font-family: var(--fonte-secundaria);
  font-size: 22px;
}

.textos-inicio h2 {
  color: var(--verde);
  font-family: var(--fonte-principal);
  font-weight: 700;
  font-size: 70px;
  font-style: italic;
}

#paragrafo-amor {
  color: var(--verde);
  font-family: var(--fonte-principal);
  font-weight: 500;
  font-style: italic;
  font-size: 25px;
  letter-spacing: 3px;
}

.row {
  margin-top: 200px;
}

.nosso-ensaio {
  margin-top: 100px;
  margin-bottom: 40px;

}

.banner-wrapper {
  position: relative;
  /* width: 100%;
  height: 500px; */
}

/* overlay */
.banner-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.2) 0%,
      /* preto bem suave no topo */
      rgba(0, 0, 0, 0.0) 100%
      /* transparente embaixo */
    );
  z-index: 1;
}

/* imagem */
#banner-mobile {
  /* width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 35% 50%;
  z-index: 1;
  position: relative; */
}


@media (max-width: 480px) {
  .flor-mobile {
    width: 180px;
  }

  .textos-inicio p {
    font-size: 13px;
    padding: 0 20px;
  }

  .textos-inicio h2 {
    font-size: 35px;
    font-weight: 600;
  }

  .memoji {
    width: 250px;
  }

  #carouselExample {
    width: 370px !important;
    height: 400px !important;
    justify-self: center;
  }

  #texto-carrosel {
    order: 2;
    margin-top: 20px;
  }

  #imagem-carrosel {
    order: 1;
  }

  #video-ensaio {
    width: 360px;
  }

  .nosso-ensaio {
    margin: 0;
  }

  #paragrafo-amor {
    font-size: 15px;
  }

  .contagem {
    height: 160px;
  }

  .contagem h1 {
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  .card-contagem {
    height: 40px;
    width: 70px;
    padding: 30px 20px 40px 20px;
    margin-top: 20px;
  }

  .card-contagem h4 {
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
  }

  .card-contagem p {
    font-size: 10px;
    letter-spacing: 1px;

  }

  #banner-mobile {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 35% 50%;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  }
}