.nav-link {
    color: var(--marrom) !important;
    font-family: var(--fonte-principal);
    font-size: 17px;
    font-weight: bold;
}

.navbar-nav {
    gap: 80px;
}

.navbar {
    border-bottom: 1px solid var(--marrom);
}

@media (max-width: 480px) {

    #logo-mobile {
        position: sticky;
        left: 50%;
        transform: translateX(180px);
        margin-left: 0 !important;
        margin-top: 25px;
        width: 50px;
    }

    .navbar .container-fluid {
        position: relative;
        padding: 0;
    }

    .navbar {
        border-bottom: 0;
        padding: 0;
    }

    /* botão */
    .hamburger-btn {
        width: 32px;
        height: 26px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: transparent;
        border: none;
        padding: 0;
        z-index: 2000;
        position: absolute;
        right: 20px;
        top: 20px;

    }

    /* linhas */
    .hamburger-btn span {
        display: block;
        height: 3px;
        width: 100%;
        background: var(--marrom);
        border-radius: 3px;
        transition: .3s ease;
    }

    /* animação virar X */
    .hamburger-btn[aria-expanded="true"] span:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .hamburger-btn[aria-expanded="true"] span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-btn[aria-expanded="true"] span:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }

    #navbar-mobile {
        background-color: var(--manteiga);
        gap: 0;
        padding: 20px;
        border-bottom: 2px solid var(--marrom);
        letter-spacing: 3px;
    }

    .nav-link {
        /* border-bottom: 1px solid var(--marrom); */
        text-align: center;
    }

    #logo-mobile {
        display: none !important;
    }
}